In [1]:
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
import pandas as pd

In [2]:
df = pd.read_csv("../data/water_potability.csv").dropna()

In [3]:
print(df['Potability'].value_counts())

Potability
0    1200
1     811
Name: count, dtype: int64

In [4]:
X = df.drop('Potability', axis=1)
y = df['Potability']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
smote = SMOTE(sampling_strategy='auto', random_state=42)

In [7]:
X_train_oversampled, y_train_oversampled = smote.fit_resample(X_train, y_train)

In [8]:
combined_df_temp = pd.DataFrame(data=X_train_oversampled, columns=X_train.columns)
combined_df_temp['Potability'] = y_train_oversampled

In [9]:
combined_df = combined_df_temp.copy()

In [10]:
display(combined_df)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,9.927024,208.490738,19666.992792,8.008618,340.237824,482.842435,11.360427,85.829113,4.051733,0
1,8.769676,215.368742,13969.438863,7.548543,322.799070,369.016667,18.919188,54.755214,3.776718,0
2,8.077261,125.302719,23931.282833,8.773162,317.693331,398.328789,15.279583,62.668356,4.279871,1
3,9.739562,166.948864,13623.160063,7.235922,385.059134,369.591289,12.322604,68.505852,2.568080,1
4,5.343075,211.662091,45166.912141,6.651801,279.767500,485.959717,19.682337,70.546862,4.240032,0
...,...,...,...,...,...,...,...,...,...,...
1933,7.884355,174.579348,18200.790694,8.234832,327.618381,509.482428,12.396684,57.718989,3.857503,1
1934,7.912346,194.860342,23044.468266,6.669170,291.768783,505.023040,11.448722,75.098812,4.027019,1
1935,7.294201,238.976002,22606.689398,4.472651,299.206166,364.367919,16.882361,72.592698,3.783542,1
1936,8.919103,215.587791,16539.985963,7.360210,318.249451,464.945144,10.124929,49.607370,3.072595,1
1937,6.675182,169.529617,24237.516219,7.528147,365.007289,380.593159,13.551909,88.747375,4.240432,1

In [12]:
print(combined_df['Potability'].value_counts())

Potability
0    969
1    969
Name: count, dtype: int64

In [13]:
combined_df.to_csv('../data/water_potability_oversampled2.csv', index=False)